/* Stylesheet for the dark theme of my website */

/**** DARK THEME ****/
.dark_theme {
	background-color: black;
    color: white;
    /*background: linear-gradient(#000000, #2A2B2E);
	color: white;*/
}