/* Main stylesheet of my website */

body {
	background-color: white;
	color: black;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

/**** NAV ****/
nav {
	font-family: 'Big Shoulders Text', cursive;
	font-size: 1.2em;
	letter-spacing: 0.2em;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 2.5em;
	z-index: 2;
	border-bottom: 0.2em solid lightgrey;
	background-color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

nav div:hover {
	cursor: pointer;
	color: blue;
	text-shadow: red 2px 5px;
	text-decoration: none;
}

/**** MAIN ****/
main {
	height: 100vh;
	background-color: #ecf0f1;
}

section {
	display: flex;
	flex-direction: column;
}

section#home_section {
	height: 100vh;
	width: 100%;
	justify-content: center;
}

/* Toutes les sections sauf celle qui a l'id .home_section */
section:not(#home_section) {
	padding-top: 5em;
}

section.hidden {
	display: none;
}

section div {
	width: 65%;
	margin: 0 auto;
	padding: 1em;
}

section#home_section div {
	text-align: center;
}

/**** HOME PAGE ****/
section div#profile_picture img {
	border: 6px solid white;
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

/* TODO: ajouter un petit effet sur le hover de la photo ? */
/*section div#profile_picture img:hover {

}*/

/**** FOOTER ****/
footer {
	height: 0.8em;
	font-size: 0.6em;
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 1em;
}


/**** SWITCH BUTTON ****/
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }